body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../img/fundo.jpg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  background-color: antiquewhite;
  width: 100%;

}

body, header {
  margin: 0;
  padding: 0;
}

/* Estilos para o rodapé */
footer {
  background-color: #d3c532; /* Cor de fundo do rodapé */
  color: #fff; /* Cor do texto no rodapé */
  position: fixed; /* Fixar no rodapé */
  bottom: 0; /* Colocar no fundo da página */
  width: 100%; /* Largura total da página */
  text-align: center; /* Centralizar o conteúdo do rodapé */
  font-size: 10px;
}
